# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:

# # Save as a csv
# # Note to avoid any issues later, use encoding="utf-8"
# weather_data.to_csv(output_data_file, encoding="utf-8", index=False)

# Input File (CSV)
input_data_path = "output_data/cities.csv"

# Read the mouse data and the study results
vacation_df = pd.read_csv(input_data_path)


# Display the data table for preview
# print("**************************************************************************")
# print("Reducing datafame size to 8 ([0:8] so need to remove the [0:8] at the end")
# vacation_df=vacation_df_input[0:8]
# print("**************************************************************************")
vacation_df

,city,lat,lon,temp,TempMax,Humidity,Cloudiness,Wind Speed
0,new norfolk,-42.7826,147.0587,19.96,22.64,38,7,1.34
1,mataura,-46.1927,168.8643,23.44,23.44,55,18,2.45
2,peniche,39.3558,-9.3811,11.31,13.68,82,79,3.55
3,port said,31.2565,32.2841,12.93,12.93,67,88,10.04
4,ancud,-41.8697,-73.8203,9.43,9.57,77,86,3.19
...,...,...,...,...,...,...,...,...
575,sosnovo-ozerskoye,52.5249,111.5418,-17.24,-17.24,88,100,4.12
576,kilindoni,-7.9139,39.6668,27.45,27.45,77,100,5.12
577,tanout,14.9709,8.8879,14.49,14.49,11,37,5.98
578,vangaindrano,-23.3500,47.6000,26.65,26.65,83,32,1.83
579,luwuk,-0.9516,122.7875,28.17,28.17,82,100,0.71

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
 # Store latitude and longitude in locations
locations = vacation_df[["lat", "lon"]]
# print("locations")
# print(locations)
# print()

# Fill NaN values and convert to float
humidity_weight = (vacation_df["Humidity"].astype(float)) /10
# print("**************************************************************************")
# print("Do I need to get rid of hardcoding that divides by 10 above")

# print("humidity_weight")
# print(humidity_weight)
# print()

In [5]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# Save the figure
plt.savefig("output_data/lat_lon_hum.png")

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
# print('vacation_df')
# print(vacation_df)
# Narrow down criteria to where my family would like to go on vacation (Hint: My wife Diane likes warmer weather:)
#Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 37 Celsius (~98 degrees farneheight) but warmer than 22 (~72 farneheight)
# Wind speed less than or equal to 13kM (~20 mph) 

cities_high_humidity = []
cities_colder_weather = []
cities_high_wind = []

city_counter=0

# print('vacation_df["Humidity"]')
# print(vacation_df["Humidity"])
 
for city in vacation_df:
    if int(vacation_df["Humidity"][city_counter]) > 100:
              # Create a new list to track high humifity index values
              cities_high_humidity.append(city_counter)
    
    if (int(vacation_df["TempMax"][city_counter]) > 37 or int(vacation_df["TempMax"][city_counter]) < 22):
              # Create a new list to track high humifity index values
              cities_colder_weather.append(city_counter)
      
    if int(vacation_df["Wind Speed"][city_counter]) > 13:
              # Create a new list to track high humifity index values
              cities_high_wind.append(city_counter)
    
    city_counter+=1

# Merge/simplify list of unwanted cities based on criteria 
merged_removal_list = cities_high_humidity + cities_high_wind + cities_colder_weather + cities_high_wind
merged_removal_list = list(set(merged_removal_list))
# print("merged_removal_list after remoal of dups and reorder")
# print(merged_removal_list)
# print()
clean_vacation_df = vacation_df
clean_vacation_df=clean_vacation_df.drop(merged_removal_list, inplace=False) 

# drop all rows with any NaN and NaT values
clean_vacation_df = clean_vacation_df.dropna()
# print("clean_vacation_df after rdrop all rows with any NaN and NaT values")
# print(clean_vacation_df)
# print()

clean_vacation_df.reset_index(inplace=True)
print("clean_vacation_df after remoal of unwanted cities and reorder")
clean_vacation_df

clean_vacation_df after remoal of unwanted cities and reorder

,index,city,lat,lon,temp,TempMax,Humidity,Cloudiness,Wind Speed
0,0,new norfolk,-42.7826,147.0587,19.96,22.64,38,7,1.34
1,1,mataura,-46.1927,168.8643,23.44,23.44,55,18,2.45
2,7,mahajanga,-15.7167,46.3167,26.01,26.01,94,40,2.06
3,8,port lincoln,-34.7333,135.8667,21.01,21.01,56,13,6.46
4,9,pacific grove,36.6177,-121.9166,14.58,17.12,51,0,2.06
...,...,...,...,...,...,...,...,...,...
570,575,sosnovo-ozerskoye,52.5249,111.5418,-17.24,-17.24,88,100,4.12
571,576,kilindoni,-7.9139,39.6668,27.45,27.45,77,100,5.12
572,577,tanout,14.9709,8.8879,14.49,14.49,11,37,5.98
573,578,vangaindrano,-23.3500,47.6000,26.65,26.65,83,32,1.83
574,579,luwuk,-0.9516,122.7875,28.17,28.17,82,100,0.71

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map

# Create a list containing coordinates
coordinates = [
    (40.71, -74.00),
    (30.26, -97.74),
    (46.87, -96.78),
    (47.60, -122.33),
    (32.71, -117.16)
 # Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)  # Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)


# Display figure
fig