# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

# # Save as a csv
# # Note to avoid any issues later, use encoding="utf-8"
# weather_data.to_csv(output_data_file, encoding="utf-8", index=False)

# Input File (CSV)
input_data_path = "output_data/cities.csv"

# Read the mouse data and the study results
vacation_df_input = pd.read_csv(input_data_path)


# Display the data table for preview

print("**************************************************************************")
print("Reducing datafame size to 8 ([0:8] so need to remove the [0:8] at the end")
vacation_df=vacation_df_input[0:8]
print("**************************************************************************")

vacation_df

**************************************************************************
Reducing datafame size to 8 ([0:8] so need to remove the [0:8] at the end
**************************************************************************

,city,lat,lon,temp,TempMax,Humidity,Cloudiness,Wind Speed
0,avera,33.1940,-82.5271,15.49,17.08,33,0,3.17
1,alcaniz,41.0500,-0.1333,7.58,7.82,72,0,1.31
2,hamilton,39.1834,-84.5333,10.37,11.60,52,0,5.66
3,sechura,-5.5569,-80.8222,27.20,27.20,54,100,6.84
4,barrow,71.2906,-156.7887,-30.99,-30.99,69,0,6.69
5,tabas,33.5959,56.9244,11.54,11.54,27,2,2.81
6,lebu,-37.6167,-73.6500,17.53,17.53,66,0,9.78
7,narsaq,60.9167,-46.0500,-8.88,-8.88,73,86,4.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
 # Store latitude and longitude in locations
locations = vacation_df[["lat", "lon"]]
print("locations")
print(locations)
print()

# Fill NaN values and convert to float
humidity_weight = (vacation_df["Humidity"].astype(float)) /10
print("**************************************************************************")
print("Do I need to get rid of hardcoding that divides by 10 above")

print("humidity_weight")
print(humidity_weight)
print()

locations
       lat       lon
0  33.1940  -82.5271
1  41.0500   -0.1333
2  39.1834  -84.5333
3  -5.5569  -80.8222
4  71.2906 -156.7887
5  33.5959   56.9244
6 -37.6167  -73.6500
7  60.9167  -46.0500

**************************************************************************
Do I need to get rid of hardcoding that divides by 10 above
humidity_weight
0    3.3
1    7.2
2    5.2
3    5.4
4    6.9
5    2.7
6    6.6
7    7.3
Name: Humidity, dtype: float64

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
print("vacation_df')
print(vacation_df)
# Narrow down criteria to where my family would like to go on vacation (Hint: My wife Diane likes warmer weather:)

cities_colder_weather = []
city_counter=0
print("*******************************************************************************************")
print("Need to change humidity[city_counter]) > 80 from 80 to 100")
print("*******************************************************************************************")
for city in cities:
    if int(humidity[city_counter]) > 80:
        print(f"The humidty information for city {city} #{city_counter} received is: {humidity[city_counter]}")
        # Create a new list to track high humifity index values
        cities_high_humidity.append(city_counter)
        print(f"{city} with city_counter of {city_counter} has humidty >80 so need to remove later")
    else:
        print("Skip since no humidity >80")
    city_counter+=1
print("Latest cities_high_humidity")
print(cities_high_humidity)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure