# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

# # Save as a csv
# # Note to avoid any issues later, use encoding="utf-8"
# weather_data.to_csv(output_data_file, encoding="utf-8", index=False)

# Input File (CSV)
input_data_path = "output_data/cities.csv"

# Read the mouse data and the study results
vacation_df_input = pd.read_csv(input_data_path)


# Display the data table for preview

print("**************************************************************************")
print("Reducing datafame size to 8 ([0:8] so need to remove the [0:8] at the end")
vacation_df=vacation_df_input[0:8]
print("**************************************************************************")

vacation_df

**************************************************************************
Reducing datafame size to 8 ([0:8] so need to remove the [0:8] at the end
**************************************************************************

            city      lat       lon   temp  Humidity  Cloudiness  Wind Speed
0     kaitangata -46.2817  169.8464  14.97        99         100        4.09
1          pevek  69.7008  170.3133 -34.67       100          99        1.66
2      cape town -33.9258   18.4232  20.71        75          20        1.54
3       saldanha -33.0117   17.9442  18.90        86           5        2.68
4           aras  42.5617   -2.3560  -1.57       100           0        0.00
5    zyryanskoye  56.8306   86.6258 -17.12        83          38        4.52
6        iqaluit  63.7506  -68.5145 -19.06        84         100        0.96
7  venado tuerto -33.7456  -61.9688  15.43        56          98        3.50

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
 # Store latitude and longitude in locations
locations = vacation_df[["lat", "lon"]]
print("locations")
print(locations)
print()

# Fill NaN values and convert to float
humidity_weight = (vacation_df["Humidity"].astype(float)) /10
print("**************************************************************************")
print("Do I need to get rid of hardcoding that divides by 10 above")

print("humidity_weight")
print(humidity_weight)
print()

locations
       lat       lon
0 -46.2817  169.8464
1  69.7008  170.3133
2 -33.9258   18.4232
3 -33.0117   17.9442
4  42.5617   -2.3560
5  56.8306   86.6258
6  63.7506  -68.5145
7 -33.7456  -61.9688

**************************************************************************
Do I need to get rid of hardcoding that divides by 10 above
humidity_weight
0     9.9
1    10.0
2     7.5
3     8.6
4    10.0
5     8.3
6     8.4
7     5.6
Name: Humidity, dtype: float64

In [24]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure